*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}
/*start header*/
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container img{
    width: 60px;
}
header .container nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}
header .container nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container nav ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: red;
    font-size: 14px;
    padding: 5px 15px;
    transition: 0.5s;
    font-weight: bold;
}
header .container nav ul li a:hover{
    background-color: #1FB7F5;
    color: #fff;
}
.toggle{
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    align-items: center;
    height: 24px;
    flex-direction: row-reverse;
}
.toggle span{
    background-color: #fff;
    height: 1px;
}
.toggle span:nth-last-of-type(1){
    width: 100%;
}
.toggle span:nth-last-of-type(2){
    width: 50%;
    transition: 0.5s;
}
.toggle span:nth-last-of-type(3){
    width: 100%;
}
.toggle:hover span:nth-last-of-type(2){
width: 100%;
}
@media (min-width:768px){
    .toggle{
        display: none;
    }
}
@media (max-width:768px){
    header .container nav{
        justify-content: flex-end;
        flex: 0;
        transition: 0.5s;
    }
    header .container nav ul{
        position: absolute;
        min-width: 300px;
        padding: 10px;
        top: calc(100% + 24px);
        background-color: #1a2935;
        display: none;
        
    }
    header .container nav:hover ul{
        display: block;
    }
    header .container nav ul:before{
        content: '';
        position: absolute;
        top: -33px;
        right: 0px;
        border-width: 17px;
        border-style: solid;
        border-color: transparent transparent #1a2935 transparent;
    }
    header .container nav ul a{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
/*start landing*/
.landing{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: right;
    position: relative;
    height: 100vh;
}
.landing .content{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    padding: 30px;
    color: #fff;
}
.landing .content .text{
    position: relative;
    padding: 10px;
}
.landing .content .text:before{
    content: '';
    height: 50%;
    width: 1px;
    position: absolute;
    left: 0;
    top: 5%;
    background-image: linear-gradient(to bottom , red 20% , blue 20% , blue 60% , gray 60% , gray 100%);
}
.landing .content h1{
    font-size: 50px;
    text-transform: capitalize;
    margin: 0 0 10px ;
}
.landing .content p{
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.4;
}
.landing .content button{
    padding: 7px;
    color: #fff;
    background-color: #1FB7F5;
    border: none;
}
.landing .content button i{
    margin-left: 4px;
}
.landing .content .icons{
    margin-top: 50px;
}
.landing .content .icons i{
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
}
@media(max-width:768px){
    .landing .content{
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        width: 100%;
    }
    .landing .content .text:before{
        display: none;
    }
    .landing .content .text h1{
        font-size: 35px;
    }
    .landing .content .text p{
        font-size: 12px;
    }.landing .content .icons{
        margin-top: 0;
    }
    .landing .content .icons i{
        display: inline;
        margin-right: 5px;
    }
}